@use "variable" as v;
/*************************************************
common-style
*************************************************/
@mixin base_width {
  margin: 0 auto;
  width: 1200px;
}
// @extendでスタイルの継承
// @mixinでステイルの定義
// @includeでmixinの呼び出し

// ブレイクポイント
// PC基準でコーディングする場合
$breakpoints: (
  "sm": "screen and (max-width: 768px)",
  //スマホ
  "md": "screen and (max-width: 1000px)",
  //タブレット
  "ps": "screen and (max-width: 1200px)",
  //PC小
) !default;
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints , $breakpoint)} {
    @content;
  }
}

// スマホ基準でコーディングする場合
// $breakpoints: (
//   "md": "screen and (min-width: 600px)", //タブレット
//   "lg": "screen and (min-width: 1025px)", //パソコン
// ) !default;
// @mixin mq($breakpoint: lg) {
//   @media #{map-get($breakpoints , $breakpoint)} {
//     @content;
//   }
// }

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  background-color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
}

.img-box {
  img {
    width: 100%;
  }
}

.obj-fit {
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.flex {
  display: flex;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @include mq(md) {
    width: 80%;
    max-width: 1000px;
  }
  @include mq() {
    width: 90%;
    max-width: 750px;
  }
}
.inner-wide {
  width: 90%;
  margin: 0 auto;
  @include mq(md) {
    width: 80%;
    max-width: 1000px;
  }
  @include mq() {
    width: 90%;
    max-width: 750px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

h3,
div,
p,
li,
dt,
dd,
th,
td,
a {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.7;
}

.anona {
  font-family: v.$font-anona;
}
.config {
  font-family: v.$font-config;
  font-weight: 600;
}

.ttl-wrap {
  font-family: v.$font-config;
  h2 {
    font-size: 8rem;
    font-weight: 200;
  }
  .num {
    font-size: 2rem;
    font-weight: 200;
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.wrap-hidden {
  overflow: hidden;
  &.visible {
    overflow: visible;
  }
}

// /iOSでのデフォルトスタイルをリセット /
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &:focus {
    outline-offset: -2px;
  }
}
