@use "variable" as v;
@use "common" as c;
/*************************************************
top
*************************************************/
.wrap_kv {
  position: relative;
  width: 100vw;
  aspect-ratio: 1/0.45;
  height: auto;
  margin-top: 8.8rem;
  background: url(../images/kv_pc.jpg) no-repeat top/cover;
  @include c.mq() {
    aspect-ratio: 1/1.65;
    margin-top: 5.8rem;
    background: url(../images/kv_sp.png) no-repeat center/cover;
  }
  .sub-text {
    width: 44.8rem;
    position: absolute;
    @include c.center(true, false);
    top: v.pxtovw(135);
    @include c.mq() {
      width: v.pxtovw_sp(302);
      top: v.pxtovw_sp(20);
    }
  }
  .main-text {
    width: 110rem;
    position: absolute;
    @include c.center(true, true);
    @include c.mq() {
      width: v.pxtovw_sp(240);
      @include c.center(true, false);
      top: v.pxtovw_sp(130);
      z-index: 1;
    }
  }
  .gekkeizyu {
    width: 56rem;
    position: absolute;
    @include c.center(true, false);
    bottom: v.pxtovw(70);
    @include c.mq() {
      width: v.pxtovw_sp(389);
      z-index: 1;
    }
  }
  .people {
    width: 19.2rem;
    position: absolute;
    @include c.mq() {
      width: v.pxtovw_sp(118);
    }
    &.hot {
      top: v.pxtovw(47);
      left: v.pxtovw(72);
      @include c.mq() {
        top: v.pxtovw_sp(110);
        left: auto;
        right: v.pxtovw_sp(10);
      }
    }
    &.cold {
      bottom: v.pxtovw(74);
      right: v.pxtovw(72);
      @include c.mq() {
        bottom: v.pxtovw_sp(110);
        right: auto;
        left: v.pxtovw_sp(10);
      }
    }
  }
}

.wrap01_negative {
  margin-top: -1px;
  position: relative;
  padding: 6rem 0 34.5rem;
  background: url(../images/wrap01_bg01.png) no-repeat top/contain,
    url(../images/wrap01_bg02.png) no-repeat bottom/contain;
  z-index: 0;
  @include c.mq() {
    padding: 6rem 0 25.5rem;
  }
  h2 {
    text-align: center;
    width: 71.7rem;
    margin: 0 auto 5.5rem;
    @include c.mq() {
      width: 100%;
    }
  }
  .block {
    position: relative;
    padding: 6rem 5rem 4rem;
    background-color: #fff;
    margin-bottom: 2.2rem;
    @include c.mq() {
      padding: 4rem 1rem 2rem;
      margin-bottom: 0;
    }
    h3 {
      font-size: 2.8rem;
      font-weight: 600;
      text-align: center;
      color: v.$sub-color01;
      margin-bottom: 3rem;
      @include c.mq() {
        font-size: 2rem;
      }
    }
    .flex {
      flex-wrap: wrap;
      gap: 1rem;
      @include c.mq() {
        gap: 0.5rem;
      }
      .box {
        width: calc((100% / 3) - (2rem / 3));
        @include c.mq() {
          width: calc((100% / 2) - (0.5rem / 2));
        }
        .txt {
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 1rem;
            width: 2.4rem;
            &.reverse {
              left: auto;
              right: 2.4rem;
              transform: scale(-1, 1);
            }
          }
          p {
            font-size: 1.8rem;
            font-weight: 500;
            color: #fff;
            text-align: center;
            background-color: v.$sub-color01;
            padding: 7px 0;
            @include c.mq() {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .arrow01 {
      position: absolute;
      width: 28.5rem;
      @include c.center(true, false);
      @include c.mq() {
        width: v.pxtovw_sp(150);
        svg {
          width: 100%;
        }
      }
      &.c-blu {
        top: -1px;
        svg {
          path {
            fill: v.$sub-color02;
          }
        }
      }
      &.c-whi {
        bottom: -3.5rem;
      }
    }
  }
  .arrow02 {
    width: 28.5rem;
    margin: 0 auto;
    @include c.mq() {
      width: v.pxtovw_sp(150);
      svg {
        width: 100%;
      }
    }
  }
}
.wrap01_positive {
  position: relative;
  background: url(../images/wrap01_bg03.png) no-repeat center/cover;
  background-color: rgba($color: v.$sub-color01, $alpha: 0.1);
  padding-bottom: 10rem;
  .omakase {
    position: absolute;
    top: -33rem;
    @include c.center(true, false);
    width: 100rem;
    margin: 0 auto;
    @include c.mq() {
      width: 90%;
      top: -21rem;
    }
    .omakase_inner {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        @include c.center(true, false);
        bottom: -7rem;
        width: 28.8rem;
        aspect-ratio: 1/0.13;
        background: url(../images/section-arrow03.svg) no-repeat top/contain;
      }
      h2 {
        position: relative;
        width: 80.8rem;
        margin: 0 0 0 auto;
        margin-bottom: 2.8rem;
        z-index: 1;
        @include c.mq() {
          width: v.pxtovw_sp(360);
          max-width: 40rem;
          margin-bottom: 1rem;
        }
      }
      .people {
        position: absolute;
        top: -5rem;
        left: 0;
        width: 21.5rem;
        @include c.mq() {
          top: -12rem;
          width: v.pxtovw_sp(180);
        }
      }
      .flex {
        position: relative;
        gap: 1rem;
        z-index: 1;
        @include c.mq() {
          flex-wrap: wrap;
          gap: 0.5rem;
        }
        .img-box {
          border: 6px solid #fff;
          box-shadow: v.$shadow01;
          @include c.mq() {
            border: 3px solid #fff;
            width: calc((100% / 2) - (0.5rem / 2));
            aspect-ratio: 1/0.6;
          }
          img {
            @include c.mq() {
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }
  .block {
    background-color: #fff;
    padding-top: 19.7rem;
    padding: 18rem 5rem 8rem;
    box-shadow: v.$shadow02;
    .box {
      gap: 4rem;
      margin-bottom: 7rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      .left {
        // width: 49.5rem;
        .num {
          position: relative;
          display: inline-block;
          padding-left: 5.7rem;
          padding-bottom: 0.6rem;
          border-bottom: 1px solid v.$sub-color03;
          font-size: 3.1rem;
          font-weight: 600;
          color: v.$sub-color03;
          margin-bottom: 1rem;
          &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 36px solid v.$sub-color03;
            border-right: 0;
            position: absolute;
            @include c.center(false, true);
            left: 0;
          }
        }
        h3 {
          font-size: 3.4rem;
          font-weight: 600;
          color: v.$sub-color01;
          margin-bottom: 2.5rem;
        }
        h4 {
          font-size: 2.2rem;
          font-weight: 600;
          color: v.$sub-color02;
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.7;
          span {
            font-weight: 600;
            text-decoration: underline;
          }
          strong {
            color: v.$sub-color03;
          }
        }
      }
      .right {
        .img-box {
          width: 47.7rem;
        }
      }
      &.reverse {
        flex-direction: row-reverse;
      }
    }
  }
}
.wrap02 {
  padding: 10rem 0;
  background-color: #faf5e6;
  .head-ttl-wrap {
    position: relative;
    padding: 2.2rem 0 4.7rem;
    background-color: v.$sub-color01;
    h3 {
      width: 58rem;
      margin: 0 auto;
    }
    svg {
      position: absolute;
      bottom: -3.1rem;
      left: 50%;
      transform: translateX(-50%);
      path {
        fill: v.$sub-color01;
      }
    }
  }
  .block {
    background-color: #fff;
    padding: 8.8rem 5rem 8rem;
    box-shadow: v.$shadow05;
    .box {
      position: relative;
      margin-bottom: 4rem;
      &:first-of-type {
        .ttl-wrap,
        p {
          width: 69.5rem;
        }
        .people {
          width: 26.4rem;
          position: absolute;
          top: 10rem;
          right: 0;
        }
      }
      &:nth-of-type(2) {
        .ttl-wrap,
        p {
          width: 57.7rem;
        }
        .people {
          width: 36.2rem;
          position: absolute;
          top: 2rem;
          left: 0;
        }
      }
      &.reverse {
        .ttl-wrap,
        p {
          margin: 0 0 0 auto;
        }
      }
      &.dannetsu {
        .cate {
          &::before,
          &::after {
            background-color: v.$sub-color03;
          }
        }
      }
      &.syanetsu {
        margin-top: 6.5rem;
        .cate {
          margin-bottom: 7.7rem;
          &::before,
          &::after {
            background-color: #ffaa5b;
          }
        }
        .q-a {
          dl {
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 8px;
            padding: 1.2rem 0;
            margin: 0 auto;
            border-radius: 5px;
            &::before {
              content: "";
              position: absolute;
            }
            dt,
            dd {
              font-weight: 600;
            }
            dt {
              font-size: 3rem;
              margin-top: -0.5rem;
            }
            dd {
              font-size: 2.4rem;
            }
            .people {
              width: 13.1rem;
              position: absolute;
            }
            &.question {
              width: 56.5rem;
              background-color: #e8f6ff;
              padding-left: 1.8rem;
              margin-bottom: 2.4rem;
              &::before {
                width: 2.5rem;
                aspect-ratio: 1/0.7;
                background: url(../images/wrap02_syanetsu-hukidashi-q.png)
                  no-repeat center/contain;
                bottom: 1rem;
                left: -2.4rem;
              }
              .people {
                top: -5.5rem;
                left: -15rem;
              }
              dt {
                color: v.$sub-color04;
              }
              dd {
                color: v.$sub-color01;
              }
            }
            &.anser {
              width: 71.4rem;
              background-color: rgba($color: #ffb53c, $alpha: 0.28);
              padding-left: 2.4rem;
              margin-bottom: 1.3rem;
              &::before {
                width: 2.6rem;
                aspect-ratio: 1/0.66;
                background: url(../images/wrap02_syanetsu-hukidashi-a.png)
                  no-repeat center/contain;
                top: 50%;
                transform: translateY(-50%);
                right: -2.6rem;
              }
              .people {
                top: -5rem;
                right: -16rem;
              }
              dt {
                color: #e66400;
              }
            }
          }
          .info {
            position: relative;
            width: 71.4rem;
            background-color: #fff9dc;
            padding: 1.8rem 1.5rem;
            margin: 0 auto 4rem;
            &::before {
              content: "";
              width: 3rem;
              aspect-ratio: 1/1;
              background: url(../images/icon-pen.svg) no-repeat center/contain;
              position: absolute;
              top: 1.2rem;
              right: 2rem;
            }
            h5 {
              font-size: 2rem;
              font-weight: 600;
              color: #e66400;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1.5rem;
              font-weight: 500;
              margin: 0;
            }
          }
        }
        .flex {
          gap: 3.5rem;
          .text-wrap,
          p {
            width: 54.8rem;
          }
          .text-wrap {
            h4 {
              margin-bottom: 2.8rem;
            }
          }
          .img-box {
            width: 36.6rem;
          }
        }
      }
      .cate {
        position: relative;
        width: 14.8rem;
        margin: 0 auto 4rem;
        &::before,
        &::after {
          content: "";
          width: 40.7rem;
          height: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          left: -43rem;
        }
        &::after {
          right: -43rem;
        }
      }
      .ttl-wrap {
        h4 {
          margin-bottom: 2.8rem;
        }
      }
      p {
        line-height: 1.7;
        &:last-of-type {
          margin-bottom: 3.8rem;
        }
        span {
          font-weight: 500;
          text-decoration: underline;
        }
        strong {
          color: v.$sub-color03;
        }
        &.marker {
          position: relative;
          font-size: 2rem;
          font-weight: 600;
          color: v.$sub-color01;
          margin-top: 1rem;
          z-index: 1;
          &::before {
            content: "";
            width: 97%;
            height: 11px;
            background-color: v.$sub-color04;
            position: absolute;
            bottom: 3px;
            z-index: -1;
          }
        }
      }
    }
  }
}

.wrap03,
.wrap04,
.wrap05,
.wrap06,
.wrap_form {
  h2 {
    font-size: 4rem;
    font-weight: 600;
    color: v.$sub-color01;
    text-align: center;
    margin-bottom: 8rem;
  }
}

.wrap03,
.wrap04 {
  .swiper-button-prev,
  .swiper-button-next {
    width: 9.4rem;
    aspect-ratio: 1/1;
    height: auto;
    background: rgb(13, 112, 190);
    background: linear-gradient(
      180deg,
      rgba(13, 112, 190, 1) 0%,
      rgba(6, 52, 88, 1) 100%
    );
    &::after {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  }
  .swiper-pagination {
    bottom: -60px !important;
    .swiper-pagination-bullet {
      width: 1.4rem !important;
      height: 1.4rem !important;
      background-color: #d9d9d9;
      border: 1px solid #a6a6a6;
    }
    .swiper-pagination-bullet-active {
      background-color: v.$sub-color01;
    }
  }
}

.wrap03 {
  padding: 10rem 0 15rem;
  background: url(../images/wrap03_bg.png) no-repeat top/cover;
  .swiper-works {
    position: relative;
  }
  .swiper-slide {
    background-color: #fff;
    box-shadow: v.$shadow06;
    padding: 2.4rem 2.2rem 3.2rem;
    .ttl {
      margin-bottom: 1rem;
      p {
        font-weight: 600;
      }
      .area {
        display: inline-block;
        padding: 4px 10px;
        color: #fff;
        background-color: v.$sub-color02;
        margin-bottom: 5px;
      }
      .name {
        font-size: 2rem;
        color: v.$sub-color01;
      }
    }
    dl {
      display: flex;
      gap: 1.2rem;
      margin-bottom: 6px;
      &:last-of-type {
        margin-bottom: 0;
      }
      dt,
      dd {
        font-weight: 600;
        color: v.$sub-color01;
      }
      dt {
        border: 1px solid v.$sub-color01;
        padding: 0 5px;
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: v.$sub-color01;
    }
  }
  .swiper-button-prev {
    left: 30px !important;
  }
  .swiper-button-next {
    right: 30px !important;
  }
}

.wrap04 {
  padding: 10rem 0 15rem;
  background-color: #faf5e6;
  .swiper-voice {
    position: relative;
  }
  .swiper-slide {
    background-color: #fff;
    box-shadow: v.$shadow07;
    padding: 5.8rem 4.4rem 6rem;
    &.no-img {
      .right {
        flex-basis: 100%;
      }
    }
    .flex {
      justify-content: space-between;
    }
    .left {
      flex-basis: 37%;
    }
    .right {
      flex-basis: 60%;
      div {
        font-size: 2.4rem;
        font-weight: 600;
        color: v.$sub-color01;
        margin-bottom: 2.5rem;
      }
      h3 {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 2rem;
        border-bottom: 1px solid v.$sub-color02;
        margin-bottom: 2rem;
        span {
          color: #fff;
          background-color: v.$sub-color02;
          padding: 1px 1rem 2px;
          margin-right: 1rem;
        }
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: v.$sub-color02;
    }
  }
  .swiper-button-prev {
    left: 100px !important;
  }
  .swiper-button-next {
    right: 100px !important;
  }
}

.wrap05 {
  padding: 10rem 0;
  background: url(../images/wrap05_bg.png) no-repeat top/cover;
  .box {
    gap: 4.8rem;
    position: relative;
    max-width: 92rem;
    margin: 0 auto 5.7rem;
    background-color: #fff;
    box-shadow: v.$shadow08;
    &::before {
      position: absolute;
      bottom: -4.5rem;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 17.8rem;
      aspect-ratio: 1/0.18;
      background: url(../images/section-arrow03.svg) no-repeat center/contain;
    }
    &:last-of-type {
      &::before {
        display: none;
      }
    }
    .left {
      width: 34.4rem;
    }
    .right {
      width: 48rem;
      padding-top: 5rem;
      h3 {
        font-size: 2.8rem;
        font-weight: 600;
        color: v.$sub-color01;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.7;
      }
    }
    .flow-num {
      width: 9.6rem;
      position: absolute;
      top: -3.6rem;
      left: -2rem;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.wrap06 {
  padding: 10rem 0;
  background: url(../images/wrap06_bg.png) no-repeat top/cover;
  .qa-list {
    max-width: 73.2rem;
    margin: 0 auto;
    dl {
      margin-bottom: 2rem;
      box-shadow: v.$shadow09;
      &:last-of-type {
        margin-bottom: 0;
      }
      &.open {
        dt {
          &::before {
            transform: translateY(-50%) rotate(0deg);
          }
        }
      }
      dt {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 2rem 3rem;
        background-color: #fff;
        &::before {
          content: "";
          width: 1.4rem;
          aspect-ratio: 1/1;
          background: url(../images/faq-arrow.png) no-repeat center/contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          right: 4rem;
          transition: all 0.3s;
        }
        span {
          font-size: 3rem;
          color: #bdddf0;
          line-height: 1;
          margin-top: -0.5rem;
        }
      }
      dd {
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        background-color: #e8f6ff;
        padding: 3rem;
        span {
          font-size: 3rem;
          color: #0081cc;
          margin-top: -1rem;
        }
        p {
          font-weight: 500;
          line-height: 1.7;
          margin-bottom: 2rem;
          &:last-of-type {
            margin-bottom: 0;
          }
          strong {
            color: v.$sub-color01;
          }
        }
      }
    }
  }
}

.wrap_form {
  padding: 10rem 0;
  background-color: #e7f4fc;
  form {
    max-width: 65rem;
    margin: 0 auto;
    table {
      table-layout: fixed;
      width: 100%;
      margin-bottom: 4rem;
      th {
        position: relative;
        width: 30%;
        font-weight: 500;
        text-align: end;
        padding: 1.5rem 0;
        padding-right: 3.7rem;
        &.check-list {
          padding-top: 0;
          span {
            top: 0.5rem;
          }
        }
        span {
          position: absolute;
          top: 1.8rem;
          right: 1.8rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: v.$sub-color03;
        }
      }
      td {
        padding-bottom: 1.6rem;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
        p {
          display: flex;
          align-items: center;
          gap: 7px;
          a {
            text-decoration: underline;
          }
          svg {
            margin-top: 4px;
            path {
              fill: #000;
            }
          }
        }
        input,
        select,
        textarea {
          background-color: #fff;
          border: 1px solid #c8e2f0;
          border-radius: 6px;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
          width: 100%;
          padding: 1.5rem 2rem;
          box-shadow: v.$shadow10;
        }
        input[type="checkbox"] {
          box-shadow: v.$shadow10 !important;
          border: 1px solid #c8e2f0;
        }
        textarea {
          margin-bottom: 3rem;
        }
      }
      .select-wrap {
        position: relative;
        width: 25.5rem;
        margin-bottom: 1.6rem;
        &::before {
          content: "";
          width: 1.4rem;
          aspect-ratio: 1/1;
          background: url(../images/faq-arrow.png) no-repeat center/contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          right: 2rem;
        }
      }
    }
    .btn-submit {
      position: relative;
      display: flex;
      justify-content: center;
      &:hover {
        svg {
          path {
            fill: v.$sub-color03;
          }
        }
        input[type="submit"] {
          background-color: #fff;
          color: v.$sub-color03;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 18rem;
        path {
          transition: all 0.3s;
        }
      }
      input[type="submit"] {
        width: 38.2rem;
        aspect-ratio: 1/0.14;
        border-radius: 100vmax;
        background-color: v.$sub-color03;
        border: 1px solid v.$sub-color03;
        font-weight: 500;
        color: #fff;
        text-align: center;
        transition: all 0.3s;
      }
    }
  }
}

.thanks {
  padding: 25rem 0 15rem;
  h2 {
    font-size: 3rem;
  }
  p {
    line-height: 1.7;
    text-align: center;
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 4rem;
    }
  }
  .btn-wrap {
    a {
      @include c.flex(center, center);
      width: 90%;
      max-width: 45rem;
      aspect-ratio: 1/0.14;
      margin: 0 auto;
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      background-color: v.$sub-color02;
      border-radius: 100vmax;
    }
  }
}
